link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/css/header.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/jquery.validate.min.js")
script(src="/scripts/js/user/user_main.js")