doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		include ./head
		block link
	body
		include ./header
		block content
		block footer
			.m-footer
				.container-fluid
					.row
						.col-md-offset-1.col-md-10.col-xs-offset-1.col-xs-10
							.footer-img
								a(href="javascript:;")
									img(src="/libs/images/#{logo}/footer/1.jpg" alt="footerImg")
						.col-md-1
