<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>musicPlay</title>
	<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/public/libs/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/css/music/music_play.css">
</head>
<body>
	<div class="m-plHeader"></div>
	<div class="m-plContainer">
		<div class="g-plMain clearfix">
			<div class="songList"  id="songList">
				<div id="songHead"></div>
				<div id="songContainer"></div>
				<!-- <div class="songHead">
					<span class="soCount">正在播放</span>
					<span class="soClean">清空全部</span>
				</div> -->
				<!-- <div class="songContainer" id="songContainer">
					<table class="soTable">
						<tbody>
							<tr>
								<td class="fav">
									<a href="javascript:;" title="收藏">
										<i class="glyphicon glyphicon-heart-empty"></i>
									</a>
								</td>
								<td class="switch-song">
									<a href="javascript:;" title="克里斯多夫的杀手梦">克里斯多夫的杀手梦
										<i class="glyphicon glyphicon-music"></i>
									</a>
								</td>
								<td class="artisted">
									<a href="javascript:;" class="artist" title="低苦艾乐队">低苦艾乐队</a>
								</td>
								<td class="share-wrapper">
									<span class="hidden"></span>
									<a href="javascript:;" title="分享">
										<i class="glyphicon glyphicon-share"></i>
									</a>
								</td>
								<td class="removetd">
									<a href="javascript:;" title="删除歌曲">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>												
							</tr>
						</tbody>
					</table>
				</div> -->
			</div>
			<div class="songInfo">
				<div class="songInfoBox">
					<a href="javascript:;" title="低苦艾乐队">
						<img src="http://img3.douban.com/view/site/large/public/107188e992e60e1.jpg" alt="低苦艾乐队" />
					</a>
					<h3 class="songGenre">
						<a href="javascript:;" title="民谣 Folk">民谣 Folk</a>
					</h3>
					<h2 class="songAtn">
						<a href="javascript:;" title="低苦艾乐队">低苦艾乐队</a>
					</h2>
					<div class="songMeta">
						<span class="songLikes">30000关注</span>
						<span class="songs">50首歌</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-plControls clearfix">
		<div class="plBar">
			<div class="plBarHd">
				<span class="songTitle">克里斯多夫的杀手梦</span>
				<span class="songTime">-03:30</span>
			</div>
			<div class="plBarBd">
				<input type="range" value="0" />
			</div>
		</div>
		<div class="plBarMod">
			<span class="glyphicon glyphicon-random"></span>
			<span class="glyphicon glyphicon-volume-up"></span>
		</div>		
		<div class="plBtn">
			<span class="glyphicon glyphicon-fast-backward"></span>
			<span class="glyphicon glyphicon-play"></span>
			<span class="glyphicon glyphicon-fast-forward"></span>
		</div>
	</div>
	<div class="m-plFooter"></div>
	<script type="text/javascript" src="../../public/libs/react/react.min.js"></script>
	<script type="text/javascript" src="../../public/libs/react/react-dom.min.js"></script>
	<script src="../../public/libs/browser.min.js"></script>
	<script type="text/babel">
		var PlayContainer = React.createClass({
			render: function() {
				return (
					<div className="songHead">
						<span className="soCount">正在播放</span>
						<span className="soClean">清空全部</span>
					</div>							
				);
			}
		});

		var SongContainer = React.createClass({
			render: function(){
				return(
					<div className="songContainer">
						<table className="soTable">
							<tbody>
								<tr>
									<td className="fav">
										<a href="javascript:;" title="收藏">
											<i className="glyphicon glyphicon-heart-empty"></i>
										</a>
									</td>
									<td className="switch-song">
										<a href="javascript:;" title="克里斯多夫的杀手梦">克里斯多夫的杀手梦
											<i className="glyphicon glyphicon-music"></i>
										</a>
									</td>
									<td className="artisted">
										<a href="javascript:;" className="artist" title="低苦艾乐队">低苦艾乐队</a>
									</td>
									<td className="share-wrapper">
										<span className="hidden"></span>
										<a href="javascript:;" title="分享">
											<i className="glyphicon glyphicon-share"></i>
										</a>
									</td>
									<td className="removetd">
										<a href="javascript:;" title="删除歌曲">
											<i className="glyphicon glyphicon-remove"></i>
										</a>
									</td>												
								</tr>
							</tbody>
						</table>
					</div>
				);
			}
		});

		ReactDOM.render(<PlayContainer />,document.getElementById('songHead'));
		ReactDOM.render(<SongContainer />,document.getElementById('songContainer'));
	</script>
</body>
</html>