/* 顶部导航条样式 */
.input-group-btn {                  // 去除顶栏搜索按钮默认样式
  width: auto;
}
.nav-top{
  background-color: #545652;
  height: 28px;
  .navbar-header{
    a{
      margin-right: 20px;
    }
  }
  .navbar-text{margin-top: 0;}
  a{
	  color: #d5d5d5;
	  font: 12px Helvetica,Arial,sans-serif;
	  padding: 0;
	  line-height: 28px;
  	&:hover{
		  color: #fff;
		  text-decoration: none;
  	}
  }
  span{
  	color: #d5d5d5;
	  font: 12px Helvetica,Arial,sans-serif;
	  padding: 0;
	  line-height: 28px;
  }
}

.navbar-right{
  margin: 0;
}

/* 登陆表单样式 */
.sign-form{
  width: 440px;
  .modal-content{
	  background-color: #5a5a5a;
	  color: #aaa;
  }
  .modal-header {
  	font-size: 18px;
  	color: #fff;
  }
  .form-group{
	  padding-top: 10px;
	  position: relative;
  }
  label{
	  float: left;
	  width: 20%;
	  padding: 6px 0;
    &.error{
      color: #d80000;
      position: absolute;
      top: -18px;
      left: 20%;
      width: 70%;
    }
  }
  input{
    float: left;
    width: 70%;
    &.error{
      background-color: #f7cccc;
    }
  }
  .form-captcha{
    width: 40%;
  }
  .captcha-show{
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    float: left;
  }
  .form-clear{
    position: absolute;
    top: 20px;
    right: 12%;
  }
  .form-captcha-clear{
    right: 42%;
  }
  .captcha-repeat{
    font-size: 12px;
    cursor: pointer;
    margin-top: 7px;
  }
  .has-remove-sign{
    display: none;
  }
}


/* 搜索条样式 */
.nav {
  background-color: #f0f3f5;
  margin-bottom: 40px;
}

.nav-wrap {
  width: 950px;
  margin: 10px auto;
  .nav-logo{
	  float: left;
	  width: 145px;
	  height: 56px;
	  color: #27a;
	  cursor: pointer;
	  padding: 10px;
  }
  .nav-search{
  	padding-top: 10px;
		input{
		  width: 470px;
		  height: 34px;
		  padding: 5px;
		}
  }
  ul{
  	list-style: none;
  	li{
  		float: left;
  		margin-left: 20px;
  		a{
  			text-decoration: none;
  		}
  	}
  }
}

/* 登陆和注册页面样式 */
.signContainer{
  .signContent{
    width: 800px;
    margin: 40px auto 0;
    ul{
      float: left;
      list-style: none;
      margin-top: 40px;
      li{
        padding-bottom: 10px;
      }
    }
  }
}
.signheader{
  color: #494949;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 20px;
  .captch-show{
    color: #000;
  }
}

@media screen and (max-width: 992px) {
  .nav-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 0;
  }

  .nav-wrap {
    width: 100%;
    .nav-search {
      input {
        width: 100%;
      }
    }
    ul {
      display: none;
    }
  }
  .container-fluid {
    .navbar-header {
      float: left;
      margin-left: 0;
    }
  }
  .navbar-right {
  	float: right;
  }
  .nav-logo {
    display: none;
  }

  /* 登陆表单样式 */
  .modal-dialog {
    margin: 20px auto;
  }
  .modal-body{
    padding-bottom: 0;
  }
  .sign-form{
    width: 300px;
    .modal-header {
    	font-size: 15px;
      padding: 10px;
    }
    .form-group{
  	  padding-top: 0px;
    }
    label{
  	  width: 18%;
      &.error{
        top: -23px;
        left: 20%;
        width: 70%;
      }
    }
    .form-captcha{
      width: 30%;
    }
    .captcha-show{
      width: 68px;
      font-size: 15px;
    }
    .form-clear{
      top: 11px;
      right: 14%;
    }
    .form-captcha-clear{
      right: 49%;
    }
    .captcha-repeat{
      font-size: 10px;
      margin-top: 7px;
    }
  }
}
