body{background-color: #333;color: rgba(255,255,255,0.5);}

/* m-plContainer */
.g-plMain{width:900px;margin:40px auto;}
.songList{width:630px;float:left;}
.songHead{margin-bottom: 10px;font-size: 12px;}
.songHead .soClean{float:right;padding-right: 40px;}
.soTable tr{height:38px;line-height: 38px;border-bottom: 1px solid #444;}
.soTable tr td{overflow: hidden;}
.soTable .fav{width:40px;padding-left:10px;display: inline-block;}
.soTable .switch-song{width:310px;padding:0 35px 0 5px;}
.soTable .artisted{width:105px;padding-right: 30px;}
.soTable .share-wrapper{width:105px;text-align:right;padding-right: 5px;}
.soTable .removetd{width:50px;padding-left: 10px;}
.soTable a{color: rgba(255,255,255,0.5);text-decoration: none;}

.songInfo a{text-decoration: none;color: rgba(255,255,255,0.5);}
.songInfoBox{float:right;}
.songGenre{font-size: 12px;height: 12px;line-height: 12px;text-align: center;}
.songAtn{text-align: center;font-size: 16px;}
.songAtn a{color: #fff;}
.songMeta{text-align: center;padding:10px;border:1px solid #444; border-left: 0;border-right: 0;}

/* m-plControls */
.m-plControls{width:900px;margin:0 auto;}
.plBar{width:545px;float:left;}
.plBar .plBarHd{margin-bottom: 5px;font-size:12px;}
.plBar .songTime{float:right;}
.plBar .plBarBd input{cursor: pointer;}
.plBarMod{float:left;margin:20px 0 0 20px;width:65px;cursor:pointer;}
.plBarMod span{padding-right:10px;}
.plBtn{float:left;cursor:pointer;margin:15px 0 0 90px;}
.plBtn .glyphicon{font-size: 25px;padding:0 15px;}

