@charset "UTF-8";
/*
	豆瓣音乐首页样式
 */
/* 组件及公共样式 */
h4 {
  font-size: 16px; }

h5 {
  font-size: 14px;
  color: #138A64;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.row {
  margin: 0; }

.col-md-4 {
  margin-left: 30px; }

/* 分类头部标题 公共样式 */
.class-top h4 {
  font-size: 14px;
  color: #222;
  line-height: 25px;
  display: inline-block;
  margin-top: 0; }
.class-top .more {
  float: right;
  margin-top: 8px;
  color: #999;
  font: 12px Arial,Helvetica,sans-serif;
  cursor: pointer;
  text-decoration: none; }
.class-top span {
  display: inline-block; }
.class-top a {
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #999; }
.class-top .more:hover {
  background-color: #999;
  color: #fff; }
.class-top .on a {
  color: #138A64; }
.class-top > ul {
  list-style: none;
  display: inline-block;
  padding: 0; }
  .class-top > ul li {
    display: inline-block; }
    .class-top > ul li:before {
      content: '|';
      color: #222;
      padding: 0 3px; }
    .class-top > ul li:first-child:before {
      content: '';
      color: transparent; }
    .class-top > ul li a:hover {
      color: #138A64;
      text-decoration: underline; }

.screen .panel {
  border: none;
  overflow: hidden; }
.screen .screen-header {
  background-color: #fff; }

.screen-body {
  background-color: #F5F7F8;
  border-top: 2px solid #02A682; }
  .screen-body .thumbnail {
    background-color: #F5F7F8;
    width: 25%;
    height: 200px;
    border: none;
    margin-bottom: 20px;
    float: left; }
    .screen-body .thumbnail img {
      height: 130px; }
    .screen-body .thumbnail p {
      font-size: 12px;
      color: #999; }

.screen-header {
  position: relative;
  padding: 0; }
  .screen-header h4 {
    display: inline-block; }
    .screen-header h4 span {
      font-size: 15px;
      margin-left: 20px;
      cursor: pointer; }

/* 顶部轮播图样式 */
#galleryFrames .panel-default {
  position: relative; }
  #galleryFrames .panel-default .slide-prev, #galleryFrames .panel-default .slide-next {
    position: absolute;
    border: none;
    outline: none;
    top: 50%;
    background: url(/images/music/banner_arrow.png);
    width: 36px;
    height: 51px; }
    #galleryFrames .panel-default .slide-prev:hover, #galleryFrames .panel-default .slide-next:hover {
      background: url(/images/music/banner_arrow.png); }
  #galleryFrames .panel-default .slide-prev {
    background-position: 0 51px;
    left: 0;
    margin-top: -25px; }
  #galleryFrames .panel-default .slide-prev:hover {
    background-position: 0 122px;
    left: 0;
    margin-top: -25px; }
  #galleryFrames .panel-default .slide-next {
    background-position: 36px 51px;
    right: 0;
    margin-top: -25px; }
  #galleryFrames .panel-default .slide-next:hover {
    background-position: 36px 122px;
    right: 0;
    margin-top: -25px; }
#galleryFrames .slide-content {
  list-style: none;
  padding: 0;
  position: relative;
  transition: transform 500ms ease; }
#galleryFrames .slide-dots {
  list-style: none;
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
  bottom: 0; }
  #galleryFrames .slide-dots li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #f8f9f9;
    cursor: pointer;
    color: transparent; }
    #galleryFrames .slide-dots li.slide-active {
      background-color: #139d72; }
#galleryFrames .slide-item {
  float: left; }
  #galleryFrames .slide-item img {
    float: left;
    height: 240px; }

/* 顶部右侧广告列表样式 */
.advertisement img {
  margin-top: -10px; }

/* 中间广告样式 */
.screen .middle-img {
  margin: 20px 0; }
  .screen .middle-img img {
    width: 100%; }

/* 编辑推荐样式  */
#editorFeatured .slide-tip {
  position: absolute;
  top: 10px;
  right: 0;
  height: 20px; }
  #editorFeatured .slide-tip .ui-side-max {
    margin-right: 10px; }
  #editorFeatured .slide-tip .glyphicon {
    cursor: pointer; }
  #editorFeatured .slide-tip .slide-next, #editorFeatured .slide-tip .slide-prev {
    border: none;
    background: url(/images/music/editor_arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    outline: none; }
  #editorFeatured .slide-tip .slide-next {
    background-position: -28px 0; }
  #editorFeatured .slide-tip .slide-prev:hover, #editorFeatured .slide-tip .slide-next:hover {
    opacity: 1; }
#editorFeatured .screen-body {
  height: 380px;
  position: relative;
  padding: 15px 0;
  background-color: #f5f7f8; }
#editorFeatured .thumbnail {
  border: none;
  height: 350px;
  float: left;
  background-color: #fff;
  margin: 0 10px 0; }
  #editorFeatured .thumbnail a img {
    height: 130px;
    width: 80%; }
  #editorFeatured .thumbnail .caption p {
    font-size: 12px;
    color: #999; }
  #editorFeatured .thumbnail .caption div {
    font-size: 12px;
    height: 100px;
    overflow: hidden; }

/* 热门音乐人分类样式 */
.tag-block {
  margin-top: 10px; }
  .tag-block td {
    width: 50%;
    border-bottom: 1px solid #ddd; }
    .tag-block td a {
      color: #138a64;
      font-size: 14px; }
    .tag-block td:nth-child(odd) {
      border-right: 1px solid #ddd; }

/* 本周单曲榜样式  */
.play-button {
  float: right;
  color: #fff;
  background-color: #139D72;
  border: 1px solid #138A64;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  padding: 0 5px; }
  .play-button:hover {
    text-decoration: none;
    background-color: #13ba72;
    color: #fff; }
  .play-button span {
    padding-left: 5px; }

.hotArtist-songs ul {
  list-style: none;
  padding: 0; }
  .hotArtist-songs ul li {
    position: relative;
    padding-left: 60px;
    height: 60px;
    line-height: 60px; }
    .hotArtist-songs ul li img {
      width: 48px;
      height: 48px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 6px;
      left: 2px; }
    .hotArtist-songs ul li h5 {
      padding: 12px 40px 8px 0;
      margin: 0; }
    .hotArtist-songs ul li p {
      font-size: 12px;
      color: #999;
      line-height: 12px; }
    .hotArtist-songs ul li span {
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 34px;
      color: #E6E6E6; }
    .hotArtist-songs ul li:hover {
      background-color: #eee;
      cursor: pointer; }
    .hotArtist-songs ul li a:hover {
      text-decoration: none; }

/* 豆瓣音乐250样式 */
.billboard .billboard-hd {
  border-bottom: 1px solid #e4e2e2;
  height: 30px;
  line-height: 30px; }
  .billboard .billboard-hd h4 {
    margin: 0;
    display: inline-block; }
  .billboard .billboard-hd .more:hover {
    background-color: #999;
    color: #fff; }
.billboard .billboard-bd {
  margin-top: 10px; }
.billboard .thumbnail {
  width: 33.33%;
  border: none;
  float: left;
  height: 110px;
  margin: 0; }
  .billboard .thumbnail a {
    text-decoration: none; }
  .billboard .thumbnail img {
    height: 80px;
    width: 80px; }
  .billboard .thumbnail h5 {
    font-size: 12px;
    text-align: center; }

/* 近期热门歌单样式 */
#hotProgrammes {
  margin-top: 20px; }
  #hotProgrammes .thumbnail {
    position: relative;
    width: 50%;
    height: auto;
    padding: 0 10px 0 0; }
  #hotProgrammes .inner {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 16px 13px 16px 63px;
    font-size: 12px;
    color: #666;
    line-height: 18px; }
    #hotProgrammes .inner h5 {
      margin-top: 0; }
    #hotProgrammes .inner img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 16px;
      left: 14px; }
    #hotProgrammes .inner p {
      font-size: 12px;
      color: #666;
      line-height: 18px;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

/* 底部样式 */
.footer-img img {
  margin: 0 auto;
  display: block; }

/*# sourceMappingURL=music_index.css.map */
