.m-footer(style="margin-top:80px;")
	.container-fluid
		.row
			.col-md-offset-1.col-md-11
				.footer-img
					a(href="javascript:;")
						img(src="/images/movie/footer/1.jpg" alt="footerImg")
			.col-md-1



