head
	link(href="/libs/jquery.fullPage.css",rel="stylesheet")
	link(href="/css/fullpage.css",rel="stylesheet")
	script(src="/libs/jquery/dist/jquery.min.js")
	script(src="/libs/jquery.fullPage.min.js")
	script(src="/js/fullpage.js")
body
	#fullpage
		.section.section1
		.section.section2
		.section.section3
		.section.section4
	
			