extends ../layout

block content
  .container
    .row
      .col-md-offset-4.col-md-5.m-signForm
        form(method="POST", action="/user/signup")#dSignupForm
          .modal-header 注册豆瓣电影账户
          .modal-body.clearfix
            span.err_tip(style="display:none;")
            .form-group.clearfix
              label(for="dSignupName") 用户名
              input#dSignupName.form-control(name="user[name]", type="text")
            .form-group.clearfix
              label(for="dSignupPassword") 密码
              input#dSignupPassword.form-control(name="user[password]", type="password")
          .modal-footer
            a(href="/"): button.btn.btn-default(type="button") 关闭
            button.btn.btn-success(type="submit") 注册